<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron success-form">
                <div class="pet-picture">
                    <img src="assets/images/{{ pet.image }}" alt="">
                </div>
                <h1 class="display-4"><i class="fas fa-check-circle text-success"></i> Parabéns {{ name }}! você fez uma ótima escolha</h1>
                <p class="lead">Você acabou de dar o primeiro passo, escolher seu animal. Agora você precisa ir buscar o <strong>{{ pet.name }}</strong>
                     no endereço: <strong>{{ pet.location }}</strong></p>
            </div>
        </div>
    </div>
</div>